*{
    margin:0px;
    padding:0px;
}
nav{
    display:flex;
    align-items: center;
    margin-top:3%;
}
nav img{
    height: 40px;
    width:80px;
    margin-left:8%;
}
nav ul{
    display: flex;
    align-items: center;
    gap:40px;
    margin-left:40%;
    list-style:none;
}
nav ul a{
    text-decoration:none;
    font-weight:800;
    color:black;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0% 5%;
    height: 70vh;
    text-align: center;
}
section h1{
    color: #20bc7e;
    margin-bottom: 20px;
}
section p{
    width: 42%;
    font-size: 14px;
    font-weight:400;
}
.achievement{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top:50px;
}
.achievement-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.achievement-card span{
    font-size: 18px;
    font-weight: 700;
    color: #20bc7e;
}
.achievement-card p{
    font-size: 16px;
    font-weight: 600;
    
}